appdirs==1.4.4
awsebcli==3.19.4
blinker==1.4
boto==2.49.0
boto3==1.17.93
botocore==1.20.93
cachetools==4.2.1
cement==2.8.2
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==8.0.1
colorama==0.4.3
distlib==0.3.2
filelock==3.0.12
flask==1.1.2
Flask-Dance==5.0.0
future==0.16.0
google-api-core==1.26.2
google-auth==1.28.0
google-crc32c==1.1.2
google-resumable-media==1.2.0
googleapis-common-protos==1.53.0
googlemaps==4.4.5
greenlet==1.1.0
grpcio==1.36.1
gunicorn==20.0.4
idna==2.10
importlib-metadata==4.5.0
itsdangerous==2.0.1
Jinja2==3.0.1
oauthlib==3.1.1
python-dotenv==0.17.1
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
s3transfer==0.4.2
semantic-version==2.8.5
six==1.14.0
SQLAlchemy==1.4.17
termcolor==1.1.0
typing-extensions==3.7.4.3
typing-inspect==0.6.0
urllib3==1.25.11
URLObject==2.4.3
virtualenv==20.4.7
watchdog==2.1.2
wcwidth==0.1.9
Werkzeug==2.0.1
zipp==3.4.1
