<html>
  <head>
    <meta name="google-site-verification" content="8kbPsCRi4Vtc0vJTV7avAaUVeAOpPoZ1AckVq4tEU9c" />
    <title>Home Page</title>

    <link rel="stylesheet" href="{{url_for('static', filename='image.css')}}" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />

    <script
      src="https://kit.fontawesome.com/7056fcee4b.js"
      crossorigin="anonymous"
    ></script>

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap"
      rel="stylesheet"
    />
  </head>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"
        >Restaurant Finder <i class="fas fa-utensils"></i
      ></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="col-md-2">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/signup">Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Log In</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>


  
<body>
  <h3>Example of Google Login in Python Flask Application</h3>
  {% if not google_data %}
    <p style="color:#333;">You are not logged in, Click on the below link to sign in with google.</p>
    <a href="/login" class="google-btn">
      <div class="google-icon-wrapper">
        <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
      </div>
      <p class="btn-text"><b>Sign in with google</b></p>
    </a>
  {% else %}
    <p>Hi {{ google_data.name }}, [<strong>{{ google_data.email }}</strong>]. You have logged in successfully from your Google Account. Check your below details.</p>
  {% if google_data is not none %}
    <div class="detail">
      <p style="font-size: 15px; padding-bottom: 10px;">User info fetched from <strong>{{ fetch_url }}</strong></p>
      {% for key, value in google_data.items() %}
        <p><strong>{{ key }}</strong>: {{ value }}</p>
      {% endfor %}
    </div>
  {% endif %}
  {% endif %}
  

  <div class="card bg-dark text-white">
    <img
      width="100%"
      height="400"
      src="{{url_for('static', filename='r.jpg')}}"
    />
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card-img-overlay text-center">
          <div class="card-body">
            <br></br>
            <h3 class="card-title">Find your favourite resturants!</h3>
            <p class="card-text">
              
            </p>
            <a href="/map"><button type="button" class="btn btn-light">Restaurants Map.</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>

</html>
