<html>
    <head>
        <title>Login Page</title>
        <link
        rel="stylesheet"
        href="{{url_for('static', filename='form.css')}}"
        />
        <link
        rel="stylesheet"
        href="{{url_for('static', filename='button.css')}}"
        />

        <script
        src="https://kit.fontawesome.com/7056fcee4b.js"
        crossorigin="anonymous"
        ></script>

        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap"
        rel="stylesheet"
        />
    </head>
    <div class="form-container">
        <div class="form-content">
            <form class="form" action="/login/" method="POST">
            <div class="form-title">
                <h1>
                    <a href="/"> Restaurant Finder <i class="fas fa-utensils"></i> </a>
                </h1>
            </div>
            <h2>Log In and start searching.</h2>
            <div class="form-inputs">
                <label class="form-label">Username.</label>
                <input
                type="text"
                name="username"
                class="form-input"
                placeholder="Enter username."
                />
            </div>
            <div class="form-inputs">
                <label class="form-label">Password.</label>
                <input
                type="password"
                name="password"
                class="form-input"
                placeholder="Enter your password."
                />
            </div>
            <Button class="btn" type="submit" value="submit">Log In</Button>
            <div>
                <div class="form-input-login">
                Don't have an account?
                <a href="/signup">Sign up</a>
                </div>
            </div>
            </form>
        </div>
    </div>
</html>